{% extends 'base.html.twig' %}

{% block body %}
    {% if lists|length > 0 %}
        <div class="col-md-12">
            <p>There are currently {{ lists }} lists and {{ items }} items to choose from</p>
        </div>
    {% endif %}
{% endblock %}
