{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <h3>Available Lists</h3>
        <hr>
        <table class="table table-stripped table-hover" id="listTbl">
            <thead>
                <th class="col-md-8">Week Date</th>
                <th class="col-md-1"></th>
            </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                    <td>{{ list.weekDate|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
